
<div class="col-md-6 text-center">
	<div class="logo">
		<img src="images/logo.png">
		<h4>Welcome to {{title }}</h4>
	</div>
	<p class="home-description">
		Hi, I am Nightex, gachi fag from germany.
	</p>
	<div class="btn-group-vertical custom_btn">
		<a href="#" class="btn btn-rabbit _active" >About</a>
		<a href="#" class="btn btn-rabbit">Contact</a>
	</div>
	<div class="social">
		<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
	</div>
</div>
